<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMath" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMath" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/MathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMath" contract="IMath"
                name="BasicHttpBinding_IMath" />
            <endpoint address="net.tcp://localhost:4322/MathService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMath" contract="IMath"
                name="NetTcpBinding_IMath">
                <identity>
                    <userPrincipalName value="ACSIND\30197821" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>