<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\30197821\documents\visual studio 2015\projects\dotnetweb\wcf\servicecontract\mathserviceclient\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SimpleMath" />
                <binding name="BasicHttpBinding_SimpleMathEx" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_SimpleMath" />
                <binding name="NetTcpBinding_SimpleMathEx" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/MathService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_SimpleMath" contract="MathServiceReference.SimpleMath"
                name="BasicHttpBinding_SimpleMath" />
            <endpoint address="net.tcp://localhost:4322/MathService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_SimpleMath" contract="MathServiceReference.SimpleMath"
                name="NetTcpBinding_SimpleMath">
            </endpoint>
            <endpoint address="http://localhost:4321/MathServiceEx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_SimpleMathEx" contract="MathServiceExReference.SimpleMathEx"
                name="BasicHttpBinding_SimpleMathEx" />
            <endpoint address="net.tcp://localhost:4322/MathServiceEx" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_SimpleMathEx" contract="MathServiceExReference.SimpleMathEx"
                name="NetTcpBinding_SimpleMathEx">
                <identity>
                    <userPrincipalName value="ACSIND\30197821" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>